---
const { lat, lon, zoom = 16, theme = "light" } = Astro.props;
---

<div
  id="map"
  data-lat={lat}
  data-lon={lon}
  data-zoom={zoom}
  data-theme={theme}
  class="w-full h-112">
</div>

<div id="marker" class="hidden">
  <slot />
</div>

<script
  is:inline
  src="https://api-maps.yandex.ru/v3/?apikey=YANDEX-MAP-APY-KEY&lang=ru_RU"
></script>

<script>
  // @ts-nocheck
  await ymaps3.ready;

  const { YMap, YMapDefaultSchemeLayer, YMapDefaultFeaturesLayer, YMapMarker } =
    ymaps3;

  const mapEl = document.querySelector("#map");
  const coordinates = [mapEl.dataset.lon, mapEl.dataset.lat];

  const map = new YMap(mapEl, {
    theme: mapEl.dataset.theme,
    location: {
      center: coordinates,
      zoom: mapEl.dataset.zoom,
    },
    behaviors: ["drag", "pinchZoom"],
  });

  map.addChild(new YMapDefaultSchemeLayer());
  map.addChild(new YMapDefaultFeaturesLayer());

  const markerEl = document.querySelector("#marker");
  map.addChild(new YMapMarker({ coordinates: coordinates }, markerEl));
  markerEl.classList.remove("hidden");
</script>
